<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugiat quo, harum ab ullam natus, recusandae repellat dolore alias in adipisci nostrum voluptatibus? Magnam, odio fugit incidunt sunt deserunt sapiente?</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id nihil, a quas perspiciatis dolores quia, repellendus veritatis beatae asperiores fugiat, facere eum delectus. Accusamus nam soluta non nostrum reprehenderit quasi!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque velit, voluptatum incidunt unde autem, impedit numquam minima id perferendis repellat illum odit voluptatibus nam minus cupiditate in illo dolor aperiam?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
